PU_BASE_URL=https://apis.pocketuni.net
PU_DB_PATH=
PU_REQUEST_TIMEOUT_SECONDS=10
PU_MIN_REQUEST_INTERVAL_SECONDS=2
PU_MAX_RETRIES=2
# PU_WEB_HOST=127.0.0.1
# PU_WEB_PORT=8000
# PU_USERNAME=
# PU_PASSWORD=
# PU_SID=

